<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TryRC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TryRC.Properties.Settings>
            <setting name="AppKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AppSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="APIEndPoint" serializeAs="String">
                <value />
            </setting>
            <setting name="AppName" serializeAs="String">
                <value />
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SmsJson" serializeAs="String">
                <value />
            </setting>
            <setting name="RingoutJson" serializeAs="String">
                <value />
            </setting>
            <setting name="FaxJson" serializeAs="String">
                <value />
            </setting>
        </TryRC.Properties.Settings>
    </userSettings>
</configuration>